@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

main::-webkit-scrollbar {
    width: 4px;
}

main::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5);
    transition: .25s;
    border-radius: 4px !important;
}

main::-webkit-scrollbar-track {
    background: 0;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #111;
    font-family: Karla,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    color: #ddd;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
    letter-spacing: 1px;
}

:root {
    --header-height: 64px;
    --scroll-bar-padding: 3.8px;
}

main {
    margin: calc(var(--header-height) + var(--scroll-bar-padding)) var(--scroll-bar-padding) var(--scroll-bar-padding);
    width: calc(100% - var(--scroll-bar-padding) * 2);
    height: calc(100% - var(--header-height) - var(--scroll-bar-padding) * 2);
    display: inline-block;
    overflow-x: hidden;
    overflow-y: scroll;
}

/* Safari hack */
_::-webkit-full-page-media,
_:future,
:root main {
    margin: calc(var(--header-height)) 0 0;
    width: 100%;
    height: calc(100% - var(--header-height) - 1px);
}
/* これ素晴らしい賢い感動した tenzyu */

/* Safari hack の副作用を打ち消すためのもの*/
_::-webkit-full-page-media,
_:future,
:root #nav.active{
    top: 64px;
}

main .container {
    margin: 16px 32px;
}

a {
    color: #ddd;
    text-decoration: none;
}

h1 {
    padding-top: 4px;
    font-size: 32px;
}

h2 {
    padding-top: 6px;
    font-size: 19px;
}

p {
    font-size: 16px;
}

html,
body {
    height: 100%;
}

footer {
    position: fixed;
    bottom: 0%;
    backdrop-filter: blur(12px);
    background-color: rgba(0,0,0, 0.65);
    height: 48px;
    width: 100%;
}

.footer-text {
    position: absolute;
    bottom: 6px;
    margin: 10px 32px;
}

.links {
    position: absolute;
    margin-top: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    -webkit-box-align: center;
    justify-content: space-evenly;
    right: 48px;
    bottom: 8px;
}

.link-icon {
    filter: invert(0.8);
    padding-inline-start: 0;
    padding-left: 36px;
}

.page-tab {
    display: inline-block;
    height: 100%;
    padding: 36px 72px 36px 36px;
    visibility: hidden;
    z-index: 1;
    box-sizing: border-box;
    border-right: #1e1e1e solid 1px;
}

.tab-item {
    padding: 6px 0;
    color: #999;
    user-select: none;
}

.tab-item:hover {
    color: #ddd;
}

.absolute {
    position: absolute;
}

.hobbies, .landscape-photos, .minecraft-photos {
    display: flex;
    flex-wrap: wrap;
    max-width: 320px;
}

ul.hobbies {
    list-style: none;
    padding-left: 0;
}

.hobbies-item {
    padding: 4px 8px 4px 8px;
    margin-right: 8px;
    background-color: #212121;
    color: #ddd;
    box-shadow: 0px 0px 0px 1px#ddd3;
    margin-block-start: 0;
    margin-block-end: 8px;
    border-radius: 2px;
}

.nav-contents {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.nav-item {
    padding-left: 40px;
}

.photos {
    flex-direction: column;
    display: flex;
    max-width: 720px;
}

.photos-item {
    padding-bottom: 24px;
    max-width: 100%;
    width: 260px;
}

.projects-item {
    padding: 6px 12px 4px 12px;
    margin-top: 18px;
}

.projects-title {
    margin-block-start: 0;
    margin-block-end: 4px;
    padding-bottom: 4px;
}

.projects-text {
    padding-top: 4px;
    margin-block-start: 0;
    margin-block-end: 6px;
}

.pin {
    width: 100%;
}

/* */

